body {
    font-family: sans-serif;
    margin: 0 0;
    background: url(32755.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}
.logo {
    font-size: 7vw;
    color: white;
    font-family: "comic sans ms", serif;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    padding-left: 0;
}
*{
    box-sizing: border-box;
}
.content{
    float:left;
    width: 79%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 15px 15px 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 14px;
}
nav{
    float:left;
    padding:2vw 0;
    font-size: 1.5vw;
    background: rgba(0, 0, 0, 0.8);
    width:19%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right:0.5%;
  
}

nav ul li {
    list-style: none;
    animation: slideIn 0.5s forwards;
    transform: translateX(-100rem);
    margin:0 2vw 2vw 0;
}
a {
    text-decoration: none;
    color: #eee;
}

nav ul li a:hover {
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
}
@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}
nav ul li:nth-child(1) {
    animation-delay: 0s;
}
nav ul li:nth-child(2) {
    animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
    animation-delay: 1s;
}

nav ul li:nth-child(4) {
    animation-delay: 1.5s;
}
@media (max-width: 600px) {
    .content {
      width: 100%;
      height: auto;
      padding: 10px 10px 10px 10px;
    }
    nav{
         width: 100%;
         padding :0;
         margin-bottom:1%;  
         font-size: 10px;
    }
    nav ul li{
        float: left;
    }
    .logo{
      padding-left:8%;
    }
    section{
        margin:0 1%;
    }
}

@keyframes slide{
    0%{left:0;}
    8.5%{left:0;}
    11.5%{left:-100%;}
    18.5%{left:-100%;}
    21.5%{left:-200%;}
    28.5%{left:-200%;}
    31.5%{left:-300%;}
    38.5%{left:-300%;}
    41.5%{left:-400%;}
    48.5%{left:-400%;}
    51.5%{left:-500%;}
    58.5%{left:-500%;}
    61.5%{left:-600%;}
    68.5%{left:-600%;}
    71.5%{left:-700%;}
    78.5%{left:-700%;}
    81.5%{left:-800%;}
    88.5%{left:-800%;}
    91.5%{left:-900%;}
    100%{left:-900%;}   
}
.slider {
    overflow:hidden;
    border-radius:10px;
    height:35vw;
  }
.slider figure img{
    margin:0;
    width:10%;
    border-radius:10px;
    height:35vw;
    float:left;
  }
.slider figure {
    position:relative;
    width:1000%;
    margin:0;
    left:0;
    animation: 50s slide infinite alternate running;
  }
.player{
      float:left;
      height:35%;
      width:30%;
      margin: 1% 1% 1% 1%;  
      box-sizing: border-box;
      border-radius:10px;
      text-align:center;
  }
label {
    letter-spacing: 2px;
    font-size: 16px;
    color: #03a9f4;
}
 